{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | 힘짜속</title>
    <!-- <link rel="stylesheet" href="{% static 'static/css파일명.css' %}" /> -->
    <!-- <script src="{% static 'static/js파일명.js' %}"></script> -->
</head>

<body>
    <div>
        {% block content %} {% endblock %}
    </div>
</body>

</html>